.admin-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0%;
    display: flex;
    background-color: white;
}
.admin-sidebar{
    width: 20%;
    background-color: maroon;
    color: white;
}
.admin-works{
    width: 80%;
    height: 100vh;
}