.login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.login-container input{
    border: 1px solid grey;
    width: 240px;
    height: 40px;
    border-radius: 20px;
    background-color:yellow;
    text-align: center;
    outline: none;
}
input:hover{
    cursor: pointer;
}
::placeholder { 
    color: red;
    opacity: 1;
  }
